.admin-title {
  text-transform: capitalize;
  padding-left: 20px;
}

.divider {
  border-right: 1px solid #e8e8e8;
}

/* Helpers */

.fw {
  width: 100%;
}

.fade {
  animation: fade;
  animation-duration: 1s;
}

.fadeIn {
  animation: fade;
  animation-duration: .8s;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}